#page-rendered {
    position: fixed;
    bottom: 0px;
    width: 100%;
}

#login-socials a {
    padding: 0px 10px;
    color: #444;
}

#login-socials a:hover {
    text-decoration: none;    
    color: #2196f3;
}

#login-socials a > i {
    font-size: 45px;
}